/* !Created by: jpfrancesconi by ideasOrange Software */

/* Google Font: News Cycle */
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'News Cycle', sans-serif;
  /*overflow-x: hidden;*/
}

#logo {
  width: 60px;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;

  /*background-color: rgb(71, 54, 87);*/
  /*overflow-x: hidden;*/
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 13px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.bubble{
  position: absolute;
  z-index: -2;
  /*background: linear-gradient(to right top, #f46b45, #eea849);*/
  background: #eae5e5;
  transform: scaleX(1.3) scaleY(2);
  transition: all 0.5s ease;
}

/* ************************************************!Main styles */
section{
  min-height: 100vh;

}
section h1{
  font-size: 5rem;
  text-align: left;
  color: white;
  padding-top: 4%;
  padding-left: 1%;
}

.home{
  background: white;
}
.hero{
  position: relative;
  height: 100vh;
  width: 100%;
}
.hero img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.aboutus{
  /*background: linear-gradient(to right top, #f46b45, #eea849);*/
  background: linear-gradient(to right top, #bf2e65, #cc5583);
}
.donors{
  /*background: linear-gradient(to right top, #005c97, #363795);*/
  background: linear-gradient(to right top, #e8ba2f, #e4bd47);
}
.beapart{
  /*background: linear-gradient(to right top, #e53935, #e35d5b);*/
  background: linear-gradient(to right top, #3fa9f5, #62b6f1);
}

.container{

}

/* ************************************************!Mobile styles */
@media screen and (max-width: 1024px){
  .nav-links{
    width: 70%;
  }
}

@media screen and (max-width: 768px){
  html{
    /*overflow-x: hidden;*/
  }
  body{
    /*overflow-x: hidden;*/
  }

  .nav-links{
    position: fixed;
    right: 0px;
    height: 90vh;
    top: 10vh;
    /*background-color: rgb(71, 54, 87);*/
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger{
    display: block;
  }

  .nav-links a{
    color: black;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
